header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #1C1A19;
}

header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100px;
}

header .header-menu {
  display: flex;
  align-items: center;
}

header .header-menu button {
  margin-right: 10px;
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
}

header .header-menu button:last-child {
  margin-right: 0;
}