.container {
  display: flex;
  height: 100%;
}

.left-column {
  width: 35%;
  background-color: #1C1A19;
}

.logo {
  display: flex;
  align-items:center;
}

.home-page__logo {
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.home-page__logo .logo-image {
  margin-bottom: 20px;
}

.right-column {
  flex: 1;
  background: url(../../images/map.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}