@import url('./styles/layout.css');
@import url('./styles/header.css');
@import url('./styles/logo.css');
@import url('./styles/homePage.css');

.page__title {
  position: absolute;
  color: red;
  font-size: 30px;
  top: 150px;
}